.valopalkki {
    height: 300px;
    width: 150px;
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 10px 10px 10px 10px black;
    top: 100px;
}

h2{
    font-family: 'Coiny', cursive;
    padding-left: 10%;

    font-size: 50px;
}


.palkki2{

    height: 250px;
    width: 50px;
    background-color: black;
    margin-bottom: 30px;

    margin-left: 35%;
}
.valot{
    position: absolute;
    right: 0px;
    bottom: 550px;
    height: 200px;
    margin-right: 20%;
    z-index: -1;



}
.valo1{
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 23%;
    background: hsla(0, 100%, 47%, 0.1);
    background-image: radial-gradient(hsla(0, 100%, 47%, 1.00) 5%, transparent 100%);
    background-size: 5px 5px;

}
.valo2{
    height: 75px;
    width: 75px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background: hsla(50, 100%, 47%, 0.1);
    background-image: radial-gradient(hsla(50, 100%, 47%, 1.00) 5%, transparent 100%);
    background-size: 5px 5px;
}
.valo3{
    height: 75px;
    width: 75px;
    background-color: green;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 10%;
    background: hsla(120, 100%, 47%, 0.1);
    background-image: radial-gradient(hsla(120, 100%, 47%, 1.00) 5%, transparent 100%);
    background-size: 5px 5px;

}
body{
    background: #0F2027;  /* fallback for old browsers */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    margin: 0;
    height: 100%;
    width: 100% ;

}
.kuu{

    display: block;
    margin-left: 50%;

    width: 10rem;
    height: 10rem;
    background-color: transparent;
    box-shadow: inset -12px 5px 0 3px #f3d076;
    border-radius: 50%;

    line-height: 10rem;
}

div.transbox {
    position: absolute;
    left: 300px;

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.2;
    width: 20%;
    height: 350px;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
.oval {
    height: 200px;
    width: 100%;
    position: absolute;
    border-radius: 10%;
    z-index: 1;
    bottom: 0px;
    background-color: #7E7C6A;

}

.quarter-circle-bottom-left{
    position: absolute;
    bottom: 50px;
    width: 400px;
    height: 400px;
    background: #2a2e40;
    border-radius: 50%;
}